<div class="container">
    <h3>Por favor, seleccione su sexo.</h3>
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sexo
        </a>
      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" (click)="selectedValue('H')">Hombre</a>
          <a class="dropdown-item" (click)="selectedValue('M')">Mujer</a>
        </div>
      </div>
</div>